* {
    font-family: 'ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* ----------HEADER---------- */

header {
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    padding: 0 60px;
}

#menu-header ul {
    display: flex;
    flex-wrap: wrap;
}

#menu-header li {
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

#menu-header a {
    color: #FDFDFD;
}

/* -----------BLOG---------- */

#texto-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: 50px auto;
    text-align: justify;
    gap: 50px;
}

#texto-post h1 {
    font-weight: 500;
    font-size: 50px;
    color: #FF4081;
}

#texto-post h5 {
    width: 850px;
    height: 400px;
    background-color: #C4C4C4;
    margin: 0 auto;
    margin-bottom: 40px;
}

#corpo-texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

#corpo-texto h2 {
    font-weight: 700;
    font-size: 37px;
    color: #009688;
}

/* ----------CONTAINER 2---------- */

#container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    padding: 50px 0;
}

.cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cursos img {
    max-width: 250px;
    max-height: 250px;
}

.cursos h3 {
    font-weight: 700;
    font-size: 25px;
    color: #FF4081;
}

.cursos p {
    max-width: 280px;
    text-align: center;
    background-color: #F7F7F7;
    margin-bottom: 10px;
}

.cursos button {
    text-align: center;
    background: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding: 8px;
}

.cursos button a {
    color: #FFFFFF;
}

/* ----------FOOTER---------- */

footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer li {
    color: #FDFDFD;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}

footer a {
    color: #FDFDFD;
}

#options p {
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 5px 30px;
    text-align: center;
}

#options :nth-child(1) {
    margin-bottom: 15px;
}

/* ----------FOOTER---------- */

@media screen and (max-width: 900px) {
    #texto-post h5 {
        width: 550px;
        height: 250px;
        background-color: #C4C4C4;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #texto-post h1 {
        margin: auto 40px;
    }

    #corpo-texto {
        margin: auto 25px;
    }
}

/* @media screen and (max-width: 600px) {
    #texto-post h5 {
        width: 550px;
        height: 250px;
        background-color: #C4C4C4;
        margin: 0 auto;
        margin-bottom: 10px;
    }
} */