* {
    font-family: 'ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* ----------HEADER---------- */

header {
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    padding: 0 60px;
}

#menu-header ul {
    display: flex;
    flex-wrap: wrap;
}

#menu-header li {
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

#menu-header a {
    color: #FDFDFD;
}

/* ----------CONTAINER 1---------- */

#container1 {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}

aside img {
    height: 450px;
}

#container1 h1 {
    display: flex;
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
    margin-top: 0;
}

#titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titulo p {
    font-weight: 400;
    font-size: 27px;
    color: #555555; 
    margin-bottom: 40px;
}

#titulo a {
    font-weight: 400;
    font-size: 27px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 10px;
    max-width: 220px;
}

/* ----------CONTAINER 2---------- */

#container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    padding: 50px 0;
}

.cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cursos img {
    max-width: 250px;
    max-height: 250px;
}

.cursos h3 {
    font-weight: 700;
    font-size: 25px;
    color: #FF4081;
}

.cursos p {
    max-width: 280px;
    text-align: center;
    background-color: #F7F7F7;
    margin-bottom: 10px;
}

.cursos button {
    text-align: center;
    background: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding: 8px;
}

.cursos button a {
    color: #FFFFFF;
}

/* -----------CONTAINER 3---------- */
#sobrenos {
    padding: 50px 0;
}

#container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#sobrenos h2 {
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    padding-left: 100px;
    padding-bottom: 50px;
}

.comentarios {
    display: flex;
    flex-direction: row;
    border: black;
}

.texto1 {
    padding-left: 25px;
}

#container3 p {
    color: #000000;
    max-width: 300px;
    
}

/* ----------CONTAINER 4----------- */

#container4 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container4 div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#maisconteudo h3 {
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    margin-bottom: 50px;
    margin-left: 80px;
}

#container4 p {
    margin: 0 auto;
    width: 319px;
    text-align: center;
}

.quadro {
    background-color: #C4C4C4;
    width: 319px;
    height: 193px;
    margin: 0 auto;
}

#maisconteudo #botao {
    margin: 40px auto;
    text-align: center;
}

#botao {
    border: 2px solid ;
    border-radius: 62px;
    font-weight: 400;
    font-size: 15px;
    color: #FF4081;
    padding: 10px 20px;
    width: 200px;
    
}

#botao a {
    color: #FF4081;
}

#container4 h5 {
    color: #009688;
    font-weight: 700;
    font-size: 27px;
    margin: 0 auto;
}

/* ----------FOOTER---------- */

footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer li {
    color: #FDFDFD;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}

footer a {
    color: #FDFDFD;
}

#options p {
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 5px 30px;
    text-align: center;
}

#options :nth-child(1) {
    margin-bottom: 15px;
}

/* ----------RESPONSIVIDADE---------- */

@media only screen and (min-width: 600px) {


}




