* {
    font-family: 'ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* ----------HEADER---------- */

header {
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    padding: 0 60px;
}

#menu-header ul {
    display: flex;
    flex-wrap: wrap;
}

#menu-header li {
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

#menu-header a {
    color: #FDFDFD;
}

/* ----------MAIN---------- */

article {
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
    margin: 0 10rem;
}

#subtitulo {
    margin-left: 10rem;
}

.cursos {
    display: flex;
    justify-content: space-evenly;
}

.cursos aside img {
    max-width: 260px;
    max-height: 280px;
}

.cursos div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


.cursos h2 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
}

.cursos p {
    max-width: 480px;
    text-align: justify;
    
}

button {
    align-self: center;
    border: 2px solid ;
    border-radius: 62px;
    font-weight: 400;
    font-size: 15px;
    background: #2E948A;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 80px;
    margin-top: 20px;
}

button a {
    color: #FFFFFF;
}

.barra {
    background: #C4C4C4;
    max-width: 1000px;
    height: 5px;
    margin-left: 10rem;
}

/* ----------FOOTER---------- */

footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer li {
    color: #FDFDFD;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}

footer a {
    color: #FDFDFD;
}

#options p {
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 5px 30px;
    text-align: center;
}

#options :nth-child(1) {
    margin-bottom: 15px;
}