* {
    font-family: 'ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* HEADER */


header {
    max-width: 1440px;
    max-height: 117px;
    background: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    margin: 0;
    
}

#logo-header {
    margin: 10px;
    padding-left: 60px;
    max-width: 100%;
}

#menu-header {
    margin: 10px;
    padding-right: 60px;
}

#menu-header ul {
    display: flex;
    
}

#menu-header li {
    color: #FDFDFD;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding: 10px;
}

#menu-header a {
    color: #FDFDFD;
}


/* CONTAINER 2 */


#container2 {
    display: flex;
    justify-content: space-around;
    background-color: #F7F7F7;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.cursos img {
    max-width: 250px;
    max-height: 250px;
    background-color: #F7F7F7;
}

.cursos h3 {
    max-width: 280px;
    font-weight: 700;
    font-size: 20px;
    color: #FF4081;
    text-align: center;
    background-color: #F7F7F7;
}

.cursos p {
    max-width: 280px;
    text-align: center;
    background-color: #F7F7F7;
}

.cursos button {
    text-align: center;
    background: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 20px;
}

h2 {
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    margin-left: 100px;

}

/* FOOTER */


footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu-footer {
   
    display: flex;
    align-items: baseline;
}

footer ul {
    
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

footer li {
    color: #FDFDFD;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}

footer a {
    color: #FDFDFD;
}

#options {
    
    display: flex;
    flex-direction: column;
    
}

#options ul {
    gap: 10px;
    
}

#options a {
    color: #FDFDFD;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px;
    
}